// Styles for the footer
.footer {
  color:white;
  background-color: $turquoise;
  margin-top: 5em;
}

.list{
  margin-top: 1.5em;
}

.end{
  background-color:$dark;
  text-align: center;
  color: $white;
}
