// Styles for the footer
.f-menu{
  height: 16em;
  background-color: $turquoise;
  color: $white;
}

.copyright{
  height: 2em;
  background-color: $turquoise1;
  text-align: center;
  color: $white;
}
