<br><br>
<div class="row" id="products">
    <div class="col-lg-2 col-md-offset-1">
    <img src="partials/images/prod1.png"/></div>
    <div class="col-lg-1">
    <p>BRANDED</p>
    <p>SHOES</p>
    <p>SHOP</p></div>
    <div class="col-lg-2 col-md-offset-1">
    <img src="partials/images/prod2.png"/></div>
    <div class="col-lg-1">
    <p>BRANDED</p>
    <p>TSHIRTS</p>
    <p>SHOP</p></div>
    <div class="col-lg-2">
    <img src="partials/images/prod3.png"/></div>
    <div class="col-lg-1">
    <p>BRANDED</p>
    <p>SHOES</p>
    <p>SHOP</p></div>
  </div>
<br><br>

  <div id="featured">
  <br>
    <h3>FEATURED PRODUCTS</h3>
  <br>
  </div>

<div class="row" id="other">
    <div class="col-lg-2 col-md-offset-2">
    <img src="partials/images/prod4.png"/>
    <p>BRANDED TEES</p>
    <p>$300</p>
    <p>BUY NOW</p></div>
    <div class="col-lg-2 col-md-offset-1">
    <img src="partials/images/prod5.png"/>
    <p>BRANDED JACKET</p>
    <p>$300</p>
    <p>BUY NOW</p></div>
    <div class="col-lg-2 col-md-offset-1">
    <img src="partials/images/prod6.png"/>
    <p>BRANDED SHOE</p>
    <p>$300</p>
    <p>BUY NOW</p></div>
  </div>
<br><br>
  <div class="row" id="other">
    <div class="col-lg-2 col-md-offset-2">
    <img src="partials/images/prod7.png"/>
    <p>BRANDED TEES</p>
    <p>$300</p>
    <p>BUY NOW</p></div>
    <div class="col-lg-2 col-md-offset-1">
    <img src="partials/images/prod8.png"/>
    <p>BRANDED JACKET</p>
    <p>$300</p>
    <p>BUY NOW</p></div>
    <div class="col-lg-2 col-md-offset-1">
    <img src="partials/images/prod9.png"/>
    <p>BRANDED SHOE</p>
    <p>$300</p>
    <p>BUY NOW</p></div>
  </div>
<br><br>
