<div class="footer">
  <div class="row f-menu">

    <div class="col-md-2 col-md-offset-1">
      <h3>Featured sale</h3>
      <ul>
        <li>Alexis Hudson</li>
        <li>American Apparel</li>
        <li>Ben Sherman</li>
        <li>Big Budda</li>
        <li>Chanel</li>
        <li>Christian Audigier</li>
        <li>Coach</li>
        <li>Cole Haan</li>
      </ul>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <h3>Mens store</h3>
      <ul>
        <li>Alexis Hudson</li>
        <li>American Apparel</li>
        <li>Ben Sherman</li>
        <li>Big Budda</li>
        <li>Chanel</li>
        <li>Christian Audigier</li>
        <li>Coach</li>
        <li>Cole Haan</li>
      </ul>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <h3>Women store</h3>
      <ul>
        <li>Alexis Hudson</li>
        <li>American Apparel</li>
        <li>Ben Sherman</li>
        <li>Big Budda</li>
        <li>Chanel</li>
        <li>Christian Audigier</li>
        <li>Coach</li>
        <li>Cole Haan</li>
      </ul>
    </div>

    <div class="col-md-2 col-md-offset-1">
      <h3>Quick links</h3>
      <ul>
        <li>Alexis Hudson</li>
        <li>American Apparel</li>
        <li>Ben Sherman</li>
        <li>Big Budda</li>
        <li>Chanel</li>
        <li>Christian Audigier</li>
        <li>Coach</li>
        <li>Cole Haan</li>
      </ul>
    </div>

  </div>

  <div class="row copyright">
    <p>Copyright @ 2013 Css Author</p>
  </div>
</div>
