<div class="row footer">
  <div class="col-lg-2 col-md-offset-2 list">
     <ul style="list-style-type:none">
        <li class="uppercase"><strong>featured sale</strong></li>
        <li>Alexis Hudson</li>
        <li>American Apparel</li>
        <li>Ben Sherman</li>
        <li>Big Buddha</li>
        <li>Chanel</li>
        <li>Christian Audigier</li>
        <li>Coach</li>
        <li>Cole Haan</li>
    </ul>
  </div>
  <div class="col-lg-2 list">
  <ul style="list-style-type:none">
        <li class="uppercase"><strong>mens store</strong></li>
        <li>Alexis Hudson</li>
        <li>American Apparel</li>
        <li>Ben Sherman</li>
        <li>Big Buddha</li>
        <li>Chanel</li>
        <li>Christian Audigier</li>
        <li>Coach</li>
        <li>Cole Haan</li>
    </ul>
  </div>
  <div class="col-lg-2 list">
  <ul style="list-style-type:none">
        <li class="uppercase"><strong>women store</strong></li>
        <li>Alexis Hudson</li>
        <li>American Apparel</li>
        <li>Ben Sherman</li>
        <li>Big Buddha</li>
        <li>Chanel</li>
        <li>Christian Audigier</li>
        <li>Coach</li>
        <li>Cole Haan</li>
    </ul>
  </div>
  <div class="col-lg-2 list">
    <ul style="list-style-type:none">
        <li class="uppercase"><strong>quick links</strong></li>
        <li>Alexis Hudson</li>
        <li>American Apparel</li>
        <li>Ben Sherman</li>
        <li>Big Buddha</li>
        <li>Chanel</li>
        <li>Christian Audigier</li>
        <li>Coach</li>
        <li>Cole Haan</li>
    </ul>
  </div>
</div>
  <div class="end">
    <p>Copyright@ 2013 Css Author</p>
  </div>

