<div class="row footer uppercase">
    <div class="col-lg-2 col-md-offset-2 list">
     <h4 class="title">featured sale</h4>
        <ul class="list-unstyled">
          <li>Alexis Hudson</li>
          <li>American Apparel</li>
          <li>Ben Sherman</li>
          <li>Big Buddha</li>
          <li>Chanel</li>
          <li>Christian Audigier</li>
          <li>Coach</li>
          <li>Cole Haan</li>
        </ul>
    </div>

    <div class="col-lg-2 list">
      <h4 class="title">mens store</h4>
        <ul class="list-unstyled">
          <li>Alexis Hudson</li>
          <li>American Apparel</li>
          <li>Ben Sherman</li>
          <li>Big Buddha</li>
          <li>Chanel</li>
          <li>Christian Audigier</li>
          <li>Coach</li>
          <li>Cole Haan</li>
        </ul>
    </div>

    <div class="col-lg-2 list">
      <h4 class="title">women store</h4>
        <ul class="list-unstyled">
          <li>Alexis Hudson</li>
          <li>American Apparel</li>
          <li>Ben Sherman</li>
          <li>Big Buddha</li>
          <li>Chanel</li>
          <li>Christian Audigier</li>
          <li>Coach</li>
          <li>Cole Haan</li>
        </ul>
    </div>

    <div class="col-lg-2 list">
      <h4 class="title">quick links</h4>
        <ul class="list-unstyled">
          <li>Alexis Hudson</li>
          <li>American Apparel</li>
          <li>Ben Sherman</li>
          <li>Big Buddha</li>
          <li>Chanel</li>
          <li>Christian Audigier</li>
          <li>Coach</li>
          <li>Cole Haan</li>
        </ul>
    </div>
</div>

<div class="row end">
  <p>Copyright@ 2013 Css Author</p>
</div>

