<br>
<div class="row top">
  <div class="col-lg-2">
    <img src="partials/images/companyname.png"/>
  </div>
  <div class="col-lg-1 col-lg-offset-2">
    <form>
      <input type="search" name="search" class="search">
    </form>
  </div>
  <div class="col-lg-1 col-lg-offset-6">
    <img src="partials/images/counter.png"/>
  </div>
</div>
<br>
<div class="row" id="menu">
    <div class="col-lg-1 col-md-offset-1">
    <p>HOME</p></div>
    <div class="col-lg-1" id="col1">
    <p>SALE</p></div>
    <div class="col-lg-1">
    <p>HANDBAGS</p></div>
    <div class="col-lg-1" id="col2">
    <p>WALLETS</p></div>
    <div class="col-lg-1">
    <p>ACCESORIES</p></div>
    <div class="col-lg-1" id="col3">
    <p>MEN STORE</p></div>
    <div class="col-lg-1">
    <p>SHOES</p></div>
    <div class="col-lg-1" id="col4">
    <p>VINTAGE</p></div>
    <div class="col-lg-1">
    <p>SERVICES</p></div>
    <div class="col-lg-1" id="col5">
    <p>CONTACT</p></div>
  </div>




