<br>
<div class="row">
  <div class="col-lg-2">
    <img src="partials/companyname.jpg"/>
  </div>
  <div class="col-lg-4 col-lg-offset-2">
    <form>
      <input type="search" name="search">
    </form>
  </div>
  <div class="col-lg-2 col-lg-offset-2">
    <img src="image.jpg"/>
  </div>
</div>
<br>
<div class="row">
    <div class="col-lg-1">
    <p>HOME</p></div>
    <div class="col-lg-1">
    <p>SALE</p></div>
    <div class="col-lg-1">
    <p>HANDBAGS</p></div>
    <div class="col-lg-1">
    <p>WALLETS</p></div>
    <div class="col-lg-1">
    <p>ACCESSORIES</p></div>
    <div class="col-lg-2 col-md-offset-1">
    <p>MENS STORE</p></div>
    <div class="col-lg-1">
    <p>SHOES</p></div>
    <div class="col-lg-1">
    <p>VINTAGE</p></div>
    <div class="col-lg-1">
    <p>SERVICES</p></div>
    <div class="col-lg-1">
    <p>CONTACT</p></div>
  </div>




