<div class="row hero">
  <div class="col-lg-4 col-lg-offset-1 img-hero">
    <img src="images/Shirt.png">
  </div>
  <div class="col-lg-4 col-lg-offset-1 text">
    <h1 class="uppercase">cowhide standard crew</h1>
    <p class="introduction">White coloured, short-sleeved, printed T-shirt for men by Levi´s. This crew-neck T-shirt is made of organic cotton and comes in a regular fit.</p>
    <p>
  <button type="button" class="btn btn-default button uppercase">Shop Now</button>
</p>
  </div>
</div>
